@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --color-blue-50: #f4f7fb;
    --color-blue-100: #e7eef7;
    --color-blue-200: #cadbed;
    --color-blue-300: #9bbcde;
    --color-blue-400: #6698ca;
    --color-blue-500: #427cb5;
    --color-blue-600: #316298;
    --color-blue-700: #294f7b;
    --color-blue-800: #254467;
    --color-blue-900: #233a57;
    --color-blue-950: #17263a;

    --color-yellow-50: #fefbe8;
    --color-yellow-100: #fff8c2;
    --color-yellow-200: #ffef87;
    --color-yellow-300: #ffde43;
    --color-yellow-400: #ffc810;
    --color-yellow-500: #efaf03;
    --color-yellow-600: #ce8600;
    --color-yellow-700: #a45f04;
    --color-yellow-800: #884a0b;
    --color-yellow-900: #733c10;
    --color-yellow-950: #431e05;

    --color-red-50: #fef2f2;
    --color-red-100: #fee3e2;
    --color-red-200: #fdcdcb;
    --color-red-300: #fba9a6;
    --color-red-400: #f67873;
    --color-red-500: #ed4c46;
    --color-red-600: #da2e28;
    --color-red-700: #b7231e;
    --color-red-800: #98201c;
    --color-red-900: #7e211e;
    --color-red-950: #440d0b;

    --color-green-50: #f3faf3;
    --color-green-100: #e3f5e4;
    --color-green-200: #c8eacb;
    --color-green-300: #9cd9a2;
    --color-green-400: #69bf71;
    --color-green-500: #44a34d;
    --color-green-600: #34853c;
    --color-green-700: #2c6933;
    --color-green-800: #26532b;
    --color-green-900: #214626;
    --color-green-950: #0e2511;

    

    
}

body {
    @apply bg-gray-50 text-gray-900;
}

.container {
    width: calc(100% - 2rem);
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
}

.btn {
    @apply inline-flex px-6 h-10 rounded-md items-center font-medium hover:cursor-pointer;
}

.btn.btn-primary {
    @apply bg-gray-950 text-white;
}

.btn.btn-outline {
    @apply border-2 border-gray-900 text-gray-950;
}

.player-selected-table td, .player-selected-table th {
    @apply border p-2 py-4 text-center text-sm border-gray-200
}