@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-gray-950;
}

* {
    user-select: none;
}

.container {
    width: calc(100% - 2rem);
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
}

.btn {
    @apply inline-flex px-6 h-10 rounded-md items-center font-medium;
}

.btn.btn-primary {
    @apply bg-gray-950 text-white;
}

.btn.btn-outline {
    @apply border-2 border-gray-900 text-gray-950;
}

.player-selected-table td, .player-selected-table th {
    @apply border p-2 py-4 text-center text-sm border-gray-200
}